:root {
    --main: #
}
body {
    min-height: 100vh;
    background-image: "../Content/67.gif";
    background: linear-gradient(to right,#ff4400,#ffffff, #0dff00);
    display: flex;
    justify-content: center;
    align-items: center;
}
.back67 img{position: fixed;top:50%;left:50%; z-index:-1;transform: translate(-50%,-50%); height: 100%; width: auto; object-fit: cover;}
.Welcome_div {
    background: radial-gradient(#fffcfc8a, #055166ba);
    box-shadow: 6px 6px 6px #000000b6;
    height: auto;
    width: auto;
    border-radius: 10px;
    border:2px solid #000000;
    padding: 20px;
    h3 {white-space: nowrap; color:#ffffff; text-shadow:2px 2px 4px #000000;}
    sub {color: white}
    a {color: #740062be; font:bolder; text-shadow: 1px 1px 1px #000;}
    p {color:#ffffff; font: bold; text-shadow: 2px 2px 2px #000000;}
    h1 {white-space: nowrap; color:#ffd500; text-shadow:2px 2px 4px #000000;}
    h2 {color: rgb(0, 255, 234);text-shadow:2px 2px 0px #000000 }
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome_div_Img img{
    float: right;
    margin-left: 20px;
    margin-top: 80px;
    height: 250px;
    width: auto;
    border-radius: 10px;
    border: 3px solid #002aff3f
}